.ArticleText{
    font-family: 'Hoefler Text';
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 51.5px;
    padding-bottom: 58.5px;
}






