.hero{
    background: url("../img/test.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

